{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="dashboard-survey-respondent-count">
        Respondents Count: {{ respondents_number }}
    </div>

    {% for question, options in question_option_dict.items %}
        <div class="dashboard-survey-results-container-div">
            <header class="dashboard-survey-question-header">
                {{ question }}
            </header>
            <table class="dashboard-survey-result-table">
                <tr class="dashboard-survey-result-table-row">
                    <th class="dashboard-survey-result-table-head">
                        Option
                    </th>
                    <th class="dashboard-survey-result-table-head">
                        Count
                    </th>
                    <th class="dashboard-survey-result-table-head">
                        Percentage
                    </th>
                </tr>
                {% for option in options %}
                    <tr class="dashboard-survey-result-table-row">
                        <td class="dashboard-survey-result-table-data">
                            {{ option.name }}
                        </td>
                        <td class="dashboard-survey-result-table-data">
                            {{ option.counts }}
                        </td>
                        <td class="dashboard-survey-result-table-data">
                            {{ option.percentage }} %
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}

    {% for date, objs in brgy_leader_attendance_dict.items %}
        <div class="dashboard-brgy-leader-attendance-container-div">
            <header class="dashboard-leader-attendance-date">
                {{ date }}
            </header>
            <div class="dashboard-leader-attendance-details-container-div">
                {% for obj in objs %}
                    <div class="dashboard-leader-attendance-details-div">
                        <header class="dashboard-leader-attendance-brgy-header">
                            {{ obj.brgy }}
                        </header>
                        <div class="dashboard-leader-attendance-details">
                            <div class="dashboard-leader-attendance-detail-element-div">
                                Attendance Count: {{ obj.count }}
                            </div>
                            <div class="dashboard-leader-attendance-detail-element-div">
                                Percentage: {{ obj.percentage }} %
                            </div>
                            <header class="dashboard-leader-attendants-header">
                                Attendees:
                            </header>
                            <div class="dashboard-leader-attendants">
                                {% for attendant in obj.individuals.all %}
                                    <div>
                                        {{ attendant.name }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div>
        <header class="dashboard-absent-brgys-header">
            Absent Barangays
        </header>
        <div class="dashboard-absent-brgy-container-div">
            {% for brgy in absent_brgys %}
                <div class="dashboard-absent-brgy-instance">
                    {{ brgy }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
